<h2>Editing Source</h2>

<% form_for(@source,:url=>{:action=>:update}) do |f| %>
  <table>
  <tr><td><%=f.label "Source Name"%></td><td><%=f.text_field :name,:size=>20,:onchange=>"document.getElementById('source_adapter').value=document.getElementById('source_name').value"%>
  </td><td><small>Unique name for source</small></td>
  <tr><td><%= f.label "Adapter Class" %></td><td> <%=f.text_field :adapter,:size=>20 %></td>
  <td><small>Class file is in vendor/sync subdirectory. Usually same as source name</small></td>
  </tr>
    <input type=hidden name="source[app_id]" value="<%=@app.id%>"/>
  <tr><td><%= f.label "Url to connect to" %></td><td><%= f.text_field "url", :size=>40%></td><td><small>Use this value as @source.url in your adapter class</small></td></tr>
  <tr><td><%= f.label "Global Login" %></td><td><%= f.text_field :login, :size=>15%></td><td><small>Use this value as @source.login in your adapter class</small></td></tr>
  <tr><td><%= f.label "Global Password" %></td><td><%= f.text_field :password,:size=>20 %></td><td><small>Use this value as @source.password in your adapter class</small></td></tr>
  <tr><td><%= f.label "Poll Interval (seconds)"%></td><td><%= f.text_field :pollinterval, :size=>10 %></td><td><small>How often to requery backend</small></td></tr>
  <tr><td> <%= f.label "Limit (# objects)"%></td><td><%= f.text_field :limit, :size=>6 %></td><td><small>Won't sync more than this many overall objects</small></td></tr>
  </table>
<%= f.submit "Update Source" %>
<%end%>
<%=link_to 'Show records', app_source_path(@app, @source) %>&nbsp;
<%=link_to '(force refresh)',{:action=>'show',:id=>@source.id,:app_id=>@source.app.id,:refresh=>1}%>&nbsp;
<%=link_to 'Search records',{:action=>'edit_search',:id=>@source.id,:app_id=>@source.app.id}%>&nbsp;
<%=link_to 'View Log',{:action=>'viewlog',:id=>@source}%>

<p>
<form action="<%=url_for(:controller=>"sources",:action=>"ping_user",:id=>@source.id)%>">
<small>
Test Push to Device
User<input name="login" size="10"/>&nbsp;
Message <input name="message" size="30"/>&nbsp;
<input type="submit" value="Ping!"/>
</small>
</form>
</p>
<p>
<%=link_to "Back to application", edit_app_path(@source.app) %>&nbsp;
</p>
