<h1><%= h(@source.name) %></h1>

<%=link_to 'Edit source', edit_app_source_path(@app, @source) %><br>
<%=link_to 'Refresh object-value records',{:action=>'show',:id=>@source.id,:refresh=>"1"}%><br>
<%=link_to 'Create object-value record',{:action=>'newobject',:id=>@source.id}%><br>
<%=link_to 'View Log',{:action=>'viewlog',:id=>@source}%><br/?
<%prevobj=""%>
<table>
  <tr><th>Object</th><th>Attribute</th><th>Value</th><th>Delete Objects</th><th>Blob?</th></tr>
  <%if @object_values%>
<%  @object_values.each do |x|%>
<%if x.object!=prevobj and prevobj!=""%>
    <tr><td colspan=4><hr/></td></tr>
<%end%>
  <tr>
  <td>
<%if x.object!=prevobj%>
<%=link_to x.object,{:action=>"editobject",:id=>@source.id,:object=>x.object,:attrib=>x.attrib}%>
<%end%>
</td><td>
<%=link_to x.attrib,{:action=>"editobject",:id=>@source.id,:object=>x.object,:attrib=>x.attrib} %>

</td><td><%=x.value%></td>
  <td><%=link_to "X",{:action=>"deleteobjects",:id=>@source.id,:app_id=>@source.app.id,:attrvals=>[{"object"=>x.object}]}%></td>
  <%if x.attrib_type == 'blob.url' and x.value!="/blobs/original/missing.png"%><td><img src="<%=x.value%>"/></td><%end%>
  </tr>
<%
  prevobj=x.object
end%>
<%  end%>
</table>
<%=link_to "Back to edit source", edit_app_source_path(@source.app, @source) %>&nbsp;
<%=link_to "Back to application", edit_app_path(@source.app) %>&nbsp;
