<h1>Users</h1>
<a href="<%=url('/')%>" class='nav_button'>Back</a>
<a href="<%=url('user/new')%>" class='nav_button'>Create User</a>

<h2>Registered users</h2>
<%if is_errors?%>
	<%= show_errors%>
<%else%>
	[ 	
	<%@users.each_index do |i|%>
		<a href="<%=url("user?user=#{CGI.escape(@users[i])}")%>"><%=i==0?'':','%>"<%=@users[i]%>"</a>
	<%end%>
	]
<%end%>