<h1>New client</h1>

<% form_for(@client) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :device_type %><br />
    <%= f.text_field :device_type %>
  </p>
  <p>
    <%= f.label :carrier %><br />
    <%= f.text_field :carrier %>
  </p>
  <p>
    <%= f.label :manufacturer %><br />
    <%= f.text_field :manufacturer %>
  </p>
  <p>
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :pin %><br />
    <%= f.text_field :pin %>
  </p>
  <p>
    <%= f.label :host %><br />
    <%= f.text_field :host %>
  </p>
  <p>
    <%= f.label :serverport %><br />
    <%= f.text_field :serverport %>
  </p>
  <p>
    <%= f.label :deviceport %><br />
    <%= f.text_field :deviceport %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', apps_path %>
