<h1>Set Remedy Administrator Credentials</h1>

<% form_tag(:controller=>:aeroprise, :action => :update_credentials) do  %>
  <p>
    <%= label_tag :username, 'User Name' %><br />
    <%= text_field_tag :username, @username %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password, @password %>
  </p>
  <p>
    <%= submit_tag 'Set' %>
  </p>
<% end %>

<%= link_to 'Back', :controller => :aeroprise, :action => :index %>